In [15]:
list1 = ['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe']
list2 = [2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605]
print(list2)

[2255.225482, 629.9553062, 11601.63022, 25306.82494, 27266.40335, 19466.99052, 588.3691778, 2890.345675, 24733.62696, 1445.760002, 4803.398244, 2618.876037, 590.4521124, 665.7982328, 7122.938458, 2639.54156, 3362.4656, 15378.16704, 30860.12808, 2579.115607, 6525.541272, 229.6769525, 2242.689259, 27570.4852, 23016.84778, 1334.646773, 402.6953275, 6047.200797, 394.1156638, 385.5793827, 1414.072488, 5745.981529, 837.7464011, 1206.991065, 27715.52837, 18937.24998, 39578.07441, 478.2194906, 16684.21278, 279.2204061, 5345.213415, 6288.25324, 1908.304416, 274.8728621, 14646.42094, 40034.85063, 672.1547506, 3359.517402, 36152.66676, 3054.727742, 33529.83052, 3825.093781, 15428.32098, 33630.24604, 39170.41371, 2699.123242, 21058.43643, 28272.40661, 37691.02733, 9581.05659, 5671.912202, 757.4009286, 347.7456605]

In [4]:
import numpy as np
list1_np = np.array(list1)
list2_np = np.array(list2)

Find and print the name of the country with the highest GDP
Find and print the name of the country with the lowest GDP
Print out text and input values iteratively
Print out the entire list of the countries with their GDPs
Print the highest GDP value, lowest GDP value, mean GDP value, standardized GDP value, and the sum of all the GDPs

In [50]:
#Find and print the name of the country with the highest GDP
def max_gdp():
    max_con = list1_np.item(list2_np.argmax())
    max_value = list2_np.max()
    return 'Country name :',max_con ,'Max GDP :',max_value
    
    
max_gdp()

('Country name :', 'Norway', 'Max GDP :', 40034.85063)

In [53]:
#Find and print the name of the country with the lowest GDP
def min_gdp():
    min_con = list1_np.item(list2_np.argmin())
    min_value = list2_np.min()
    return 'Country name :',min_con ,'Min GDP :',min_value
    
    
min_gdp()

('Country name :', 'Ethiopia', 'Min GDP :', 229.6769525)

In [61]:
#Print out text and input values iteratively
for country in list1_np:
    print(country)
for value in list2_np:
    print(value)

Algeria
Angola
Argentina
Australia
Austria
Bahamas
Bangladesh
Belarus
Belgium
Bhutan
Brazil
Bulgaria
Cambodia
Cameroon
Chile
China
Colombia
Cyprus
Denmark
El Salvador
Estonia
Ethiopia
Fiji
Finland
France
Georgia
Ghana
Grenada
Guinea
Haiti
Honduras
Hungary
India
Indonesia
Ireland
Italy
Japan
Kenya
South Korea
Liberia
Malaysia
Mexico
Morocco
Nepal
New Zealand
Norway
Pakistan
Peru
Qatar
Russia
Singapore
South Africa
Spain
Sweden
Switzerland
Thailand
United Arab Emirates
United Kingdom
United States
Uruguay
Venezuela
Vietnam
Zimbabwe
2255.225482
629.9553062
11601.63022
25306.82494
27266.40335
19466.99052
588.3691778
2890.345675
24733.62696
1445.760002
4803.398244
2618.876037
590.4521124
665.7982328
7122.938458
2639.54156
3362.4656
15378.16704
30860.12808
2579.115607
6525.541272
229.6769525
2242.689259
27570.4852
23016.84778
1334.646773
402.6953275
6047.200797
394.1156638
385.5793827
1414.072488
5745.981529
837.7464011
1206.991065
27715.52837
18937.24998
39578.07441
478.2194906
16684.21278
279.2204061
5345.213415
6288.25324
1908.304416
274.8728621
14646.42094
40034.85063
672.1547506
3359.517402
36152.66676
3054.727742
33529.83052
3825.093781
15428.32098
33630.24604
39170.41371
2699.123242
21058.43643
28272.40661
37691.02733
9581.05659
5671.912202
757.4009286
347.7456605

In [68]:
#Print out the entire list of the countries with their GDPs
a = zip(list1 , list2)
print(dict(a))

{'Algeria': 2255.225482, 'Angola': 629.9553062, 'Argentina': 11601.63022, 'Australia': 25306.82494, 'Austria': 27266.40335, 'Bahamas': 19466.99052, 'Bangladesh': 588.3691778, 'Belarus': 2890.345675, 'Belgium': 24733.62696, 'Bhutan': 1445.760002, 'Brazil': 4803.398244, 'Bulgaria': 2618.876037, 'Cambodia': 590.4521124, 'Cameroon': 665.7982328, 'Chile': 7122.938458, 'China': 2639.54156, 'Colombia': 3362.4656, 'Cyprus': 15378.16704, 'Denmark': 30860.12808, 'El Salvador': 2579.115607, 'Estonia': 6525.541272, 'Ethiopia': 229.6769525, 'Fiji': 2242.689259, 'Finland': 27570.4852, 'France': 23016.84778, 'Georgia': 1334.646773, 'Ghana': 402.6953275, 'Grenada': 6047.200797, 'Guinea': 394.1156638, 'Haiti': 385.5793827, 'Honduras': 1414.072488, 'Hungary': 5745.981529, 'India': 837.7464011, 'Indonesia': 1206.991065, 'Ireland': 27715.52837, 'Italy': 18937.24998, 'Japan': 39578.07441, 'Kenya': 478.2194906, 'South Korea': 16684.21278, 'Liberia': 279.2204061, 'Malaysia': 5345.213415, 'Mexico': 6288.25324, 'Morocco': 1908.304416, 'Nepal': 274.8728621, 'New Zealand': 14646.42094, 'Norway': 40034.85063, 'Pakistan': 672.1547506, 'Peru': 3359.517402, 'Qatar': 36152.66676, 'Russia': 3054.727742, 'Singapore': 33529.83052, 'South Africa': 3825.093781, 'Spain': 15428.32098, 'Sweden': 33630.24604, 'Switzerland': 39170.41371, 'Thailand': 2699.123242, 'United Arab Emirates': 21058.43643, 'United Kingdom': 28272.40661, 'United States': 37691.02733, 'Uruguay': 9581.05659, 'Venezuela': 5671.912202, 'Vietnam': 757.4009286, 'Zimbabwe': 347.7456605}

In [82]:
# Print the highest GDP value, lowest GDP value, mean GDP value, standardized GDP value, and the sum of all the GDPs
def result():
    highest_gdp = max(list2_np)
    low_gdp = min(list2_np)
    mean_gpd = sum(list2_np)/len(list2_np)
    std_gdp = np.std(list2_np)
    sum_of_all_gdp = sum(list2_np)
    return 'highest_gdp :' ,highest_gdp,  'low_gdp', low_gdp, 'mean_gpd', mean_gpd, 'std_gdp', std_gdp, 'sum_of_all_gdp', sum_of_all_gdp


result()

('highest_gdp :',
 40034.85063,
 'low_gdp',
 229.6769525,
 'mean_gpd',
 11289.409271639684,
 'std_gdp',
 12743.828910617945,
 'sum_of_all_gdp',
 711232.7841133001)